# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Environment variables
.env
config.env

# Build output
/dist
/build
/.next
/.parcel-cache

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
